In [1]:
import pandas as pd
import numpy as np

#### The Kaggle dataset : https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database?resource=download

In [2]:
anime = pd.read_csv("anime.csv")
rating = pd.read_csv("rating.csv")

In [3]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime.shape

(12294, 7)

In [5]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [6]:
#-1 rating means, the user watched but did not leave a review
rating = rating[rating.rating != -1]
rating.head(10)

     user_id  anime_id  rating
47         1      8074      10
81         1     11617      10
83         1     11757      10
101        1     15451      10
153        2     11771      10
156        3        20       8
157        3       154       6
158        3       170       9
159        3       199      10
160        3       225       9

In [7]:
rating.shape

(6337241, 3)

In [8]:
merged_df1 = pd.merge(anime,rating,on='anime_id')

In [9]:
merged_df1.head(10)

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,322,10
5,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,398,10
6,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,462,8
7,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,490,10
8,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,548,10
9,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,570,10

In [10]:
merged_df1 = merged_df1.rename(columns ={"rating_x":"anime_rating","rating_y":"user_rating"})

In [11]:
rating_count= rating.groupby('anime_id')['rating'].agg(['count','mean'])

In [12]:
merged_df = pd.merge(anime,rating_count,on='anime_id')

In [13]:
merged_df

,anime_id,name,genre,type,episodes,rating,members,count,mean
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,1961,9.426313
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,21494,9.322741
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,1188,9.449495
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,17151,9.261326
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,3115,9.272552
...,...,...,...,...,...,...,...,...,...
9921,5541,The Satisfaction,Hentai,OVA,1,4.37,166,2,1.000000
9922,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211,2,4.000000
9923,5543,Under World,Hentai,OVA,1,4.28,183,2,2.500000
9924,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219,1,6.000000
9925,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,1,4.000000

In [14]:
merged_df.rename(columns={"count":"voted_count","mean":"avg_rating"})

,anime_id,name,genre,type,episodes,rating,members,voted_count,avg_rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,1961,9.426313
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,21494,9.322741
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,1188,9.449495
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,17151,9.261326
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,3115,9.272552
...,...,...,...,...,...,...,...,...,...
9921,5541,The Satisfaction,Hentai,OVA,1,4.37,166,2,1.000000
9922,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211,2,4.000000
9923,5543,Under World,Hentai,OVA,1,4.28,183,2,2.500000
9924,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219,1,6.000000
9925,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,1,4.000000

In [15]:
anime_user_matrix = merged_df1.pivot_table(index='user_id',columns='name',values='user_rating')
anime_user_matrix.head(10)

name,&quot;0&quot;,"&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu",&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,&quot;Bungaku Shoujo&quot; Memoire,&quot;Bungaku Shoujo&quot; Movie,&quot;Eiji&quot;,.hack//G.U. Returner,.hack//G.U. Trilogy,.hack//G.U. Trilogy: Parody Mode,.hack//Gift,...,lilac (bombs Jun Togawa),makemagic,s.CRY.ed,vivi,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki,◯
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
rating['num of ratings'] = pd.DataFrame(merged_df1.groupby('anime_id')['user_rating'].count())
rating.sort_values('num of ratings',ascending=False).head(10)

       user_id  anime_id  rating  num of ratings
1535        14      9724       8         34226.0
11757      150      9919      10         26310.0
16498      210      8532      10         25290.0
1575        14     16762       7         24126.0
6547        73      1535       8         23565.0
226          3     22199       8         23528.0
5114        52     20651       8         21494.0
2904        29     11209       3         21124.0
4224        43     30831       6         20837.0
8074        98      8876       9         19488.0

### using corelation

In [17]:
merged_df1["name"].unique()

array(['Kimi no Na wa.', 'Fullmetal Alchemist: Brotherhood', 'Gintama°',
       ..., 'Under World', 'Violence Gekiga David no Hoshi',
       'Violence Gekiga Shin David no Hoshi: Inma Densetsu'], dtype=object)

In [18]:
selected_ratings = anime_user_matrix['Gintama°']

In [19]:
selected_ratings

user_id
1       NaN
2       NaN
3       NaN
5       NaN
7       NaN
         ..
73512   NaN
73513   NaN
73514   NaN
73515   NaN
73516   NaN
Name: Gintama°, Length: 69600, dtype: float64

In [20]:
similar_to_anime = anime_user_matrix.corrwith(selected_ratings)

C:\Users\kavya\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\kavya\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

In [21]:
corr_selected = pd.DataFrame(similar_to_anime,columns=['Correlation'])
corr_selected.dropna(inplace=True)
corr_selected.head(10)

                                                    Correlation
name
&quot;0&quot;                                          0.628971
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...     0.329194
&quot;Bungaku Shoujo&quot; Memoire                     0.389977
&quot;Bungaku Shoujo&quot; Movie                       0.254738
.hack//G.U. Returner                                   0.093956
.hack//G.U. Trilogy                                    0.290026
.hack//G.U. Trilogy: Parody Mode                       0.274430
.hack//Gift                                            0.240938
.hack//Intermezzo                                      0.355211
.hack//Liminality                                      0.248222

In [22]:
unique_name = merged_df1["name"].unique()

In [23]:
len(unique_name)

9926

In [24]:
unique_name[:30]

array(['Kimi no Na wa.', 'Fullmetal Alchemist: Brotherhood', 'Gintama°',
       'Steins;Gate', 'Gintama&#039;',
       'Haikyuu!!: Karasuno Koukou VS Shiratorizawa Gakuen Koukou',
       'Hunter x Hunter (2011)', 'Ginga Eiyuu Densetsu',
       'Gintama Movie: Kanketsu-hen - Yorozuya yo Eien Nare',
       'Gintama&#039;: Enchousen', 'Clannad: After Story',
       'Koe no Katachi', 'Gintama', 'Code Geass: Hangyaku no Lelouch R2',
       'Haikyuu!! Second Season', 'Sen to Chihiro no Kamikakushi',
       'Shigatsu wa Kimi no Uso', 'Mushishi Zoku Shou 2nd Season',
       'Ookami Kodomo no Ame to Yuki', 'Code Geass: Hangyaku no Lelouch',
       'Hajime no Ippo',
       'Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen',
       'Cowboy Bebop', 'One Punch Man', 'Mononoke Hime',
       'Suzumiya Haruhi no Shoushitsu',
       'Monogatari Series: Second Season', 'Mushishi Zoku Shou',
       'Mushishi', 'Tengen Toppa Gurren Lagann'], dtype=object)

In [49]:
def Recommendation_corr():
        anime_name = input("Enter an anime name from the List ")
        selected_ratings = anime_user_matrix[anime_name]
        similar_to_anime = anime_user_matrix.corrwith(selected_ratings)
        corr_selected = pd.DataFrame(similar_to_anime,columns=['Correlation'])
        corr_selected.dropna(inplace=True)
        print(corr_selected.nlargest(10, ['Correlation']))

Recommendation_corr()

Enter an anime name from the List Kappa no Ude

C:\Users\kavya\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\kavya\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

                                       Correlation
name
&quot;0&quot;                                  1.0
009 Re:Cyborg                                  1.0
20-dai no Heya-hen                             1.0
2010                                           1.0
3-gatsu no Lion meets Bump of Chicken          1.0
48x61                                          1.0
A-Channel                                      1.0
AKB0048                                        1.0
AKB0048: Next Stage                            1.0
Accel World                                    1.0

In [27]:
#using knn
from scipy.sparse import csr_matrix
user_rating = merged_df1.drop_duplicates(['user_id', 'name'])
user_rating_pivot = user_rating.pivot(index = 'name', columns = 'user_id', values = 'user_rating').fillna(0)
user_rating_matrix = csr_matrix(user_rating_pivot.values)

In [28]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(user_rating_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [29]:
query_index = np.random.choice(user_rating_pivot.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(user_rating_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

5405

In [30]:
user_rating_pivot.index[query_index]

'Manin Densha'

In [31]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(user_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, user_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Manin Densha:

1: Grope: Yami no naka no Kotoritachi, with distance of 0.5567946656023379:
2: Ryoujoku Guerrilla Kari 3, with distance of 0.5759903887440552:
3: Hitou Meguri The Animation: Wakaokami, Rachiru, with distance of 0.5993135930311048:
4: Ingoku Byoutou, with distance of 0.6161964412252301:
5: JK to Inkou Kyoushi 4, with distance of 0.6200475092930127:

In [40]:
user_rating_pivot.index

Index(['&quot;0&quot;',
       '&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu',
       '&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi',
       '&quot;Bungaku Shoujo&quot; Memoire',
       '&quot;Bungaku Shoujo&quot; Movie', '&quot;Eiji&quot;',
       '.hack//G.U. Returner', '.hack//G.U. Trilogy',
       '.hack//G.U. Trilogy: Parody Mode', '.hack//Gift',
       ...
       'lilac (bombs Jun Togawa)', 'makemagic', 's.CRY.ed', 'vivi', 'xxxHOLiC',
       'xxxHOLiC Kei', 'xxxHOLiC Movie: Manatsu no Yoru no Yume',
       'xxxHOLiC Rou', 'xxxHOLiC Shunmuki', '◯'],
      dtype='object', name='name', length=9926)

In [53]:
def Recommendation_knn():
        anime_name = input("Enter an anime name from the List: ")
        query_index = user_rating_pivot.index == anime_name
        distances, indices = model_knn.kneighbors(user_rating_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)
        for i in range(0, len(distances.flatten())):
            if i == 0:
                print('Recommendations for {0}:\n'.format(user_rating_pivot.index[query_index]))
            else:
                print('{0}: {1}, with distance of {2}:'.format(i, user_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))
                
Recommendation_knn()

Enter an anime name from the List: Kappa no Ude
Recommendations for Index(['Kappa no Ude'], dtype='object', name='name'):

1: Hone Hone Rock, with distance of 0.0:
2: Crazy Monkey, with distance of 0.003454241755120324:
3: Cook no Polka, with distance of 0.003454241755120324:
4: vivi, with distance of 0.00916983195570098:
5: Kuro, with distance of 0.009595104634510632: